html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

header {
  display: flex;
  flex-flow: row wrap;
  background-color: maroon;
  padding: 0;
  margin-bottom: 1em;
  /* For mobile, full width - without which 'text-align: center;' doesn't do anything */
}

header > * {
  flex: 1 100%;
}

header > h1 {
  margin: 0;
  padding: 0.125em 0;
  color: white;
  font-family: "Tillana", cursive;
  letter-spacing: 0.075em;
  line-height: 1.125em;
  text-shadow: 0.2vw 0.2vw 0.375vw black;
  text-align: center;
}

header > .rightblock {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

header > .rightblock > h3 {
  margin: 0;
  margin-bottom: 0.125em;
  padding: 0.0625em 0.5em 0.25em 0.5em;
  flex: 1 auto;
  font-family: "Quicksand", sans-serif;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.15vw black;
  line-height: 1em;
  letter-spacing: 0.075em;
}

header > .rightblock > h3 + h3 {
  text-align: right;
}

footer {
  background-color: maroon;
  margin-top: 1em;
  padding: 0.05em 1em;
}

.navbar {
  height: 100%;
  display: flex;
  padding: 0;
  font-size: 1.5vw;
}

.navbar > * {
  flex: 1 auto;
}

.navbar > ul {
  display: inline;
  text-align: center;
  padding: 0;
  margin: 0.5em 0;
  margin-right: 1em;
  list-style: none;
  color: whitesmoke;
}

.navbar > ul > li {
  padding: 0 0.5vw;
  display: inline-block;
  margin: 0.25em 0.375em;
  box-shadow: 0 0 0.2em 0 black;
  background: #670000;
  background: linear-gradient(to bottom, maroon, maroon 35%, #670000 65%, #670000);
}

.navbar > ul > li:hover {
  cursor: pointer;
}

.navbar > ul > li.active, .navbar > ul > li:hover {
  color: black;
  background: linear-gradient(to bottom, white, white 35%, #d9d9d9 65%, #d9d9d9);
}

.navbar .uname {
  color: white;
  align-self: center;
  font-family: "Architects Daughter", cursive;
  font-size: 115%;
  text-align: right;
  padding: 0;
  margin: 0;
  text-shadow: 0.12vw 0.12vw 0.25vw black;
}

.cross:before {
  color: maroon;
  content: "\2718";
  font-size: 105%;
  font-weight: bold;
}

.check:before {
  position: relative;
  color: #080;
  content: "\2714";
  font-size: 105%;
  font-weight: bold;
  justify-self: start;
  align-self: start;
}

.qm:before {
  color: #666;
  content: "\003F";
  font-size: 125%;
  font-weight: bold;
  justify-self: start;
  align-self: center;
}

#summary summary.statement {
  margin: 0 auto;
}

#summary summary.statement h3 {
  display: inline-block;
  background-color: maroon;
  color: white;
  padding: 1vw 2vw;
  vertical-align: bottom;
  font-weight: normal;
  font-size: 125%;
}

#summary summary.statement h3 .total {
  padding-top: 0.5vw;
}

#summary summary.statement h3 .uname {
  color: white;
  font-family: "Architects Daughter";
  font-size: 125%;
  text-align: right;
  text-shadow: 0.12vw 0.12vw 0.25vw black;
  letter-spacing: 0.1vw;
}

#summary .table .row {
  border: 1px solid #aaa;
}

#summary .table .row:nth-child(2n + 1) {
  background-color: #ccc;
}

#summary .table .row:nth-child(2n) {
  background-color: #eee;
}

#summary .table .row .qNumber {
  vertical-align: top;
  width: 15%;
  font-weight: bold;
  font-size: 120%;
  display: inline-block;
  padding: 0.2vw;
  margin: 0.2vw 0 0.2vw auto;
}

#summary .table .row .qNumber .questionMarks {
  font-weight: normal;
  font-size: normal;
  margin-left: 1vw;
}

#summary .table .row .items {
  width: 85%;
  display: inline-block;
  margin: 0.2vw 0 0.2vw auto;
}

#summary .table .row .items .item {
  vertical-align: bottom;
  border: 0.5px solid #aaa;
  display: inline-block;
  width: 24.375%;
  margin: 0.2vw;
  height: 1.75em;
}

#summary .table .row .items .item .ps {
  width: 30%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

#summary .table .row .items .item .ui {
  width: 27%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#summary .table .row .items .item .symb {
  position: relative;
  width: 15%;
  font-size: 90%;
  display: inline-block;
  text-align: center;
}

#summary .table .row .items .item .marked {
  width: 26%;
  display: inline-block;
  text-align: center;
}

#summary .table .row + .row {
  border-top: none;
}

.fright {
  float: right;
}

.katex {
  font-size: 100%;
  font-weight: 600;
}

#instructions ul {
  list-style: none;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: -1vw;
}

#instructions ul:last-of-type {
  margin-bottom: 0;
}

#instructions ul li {
  margin-bottom: 1em;
  line-height: 1.25;
}

#instructions ul li::before {
  display: inline-block;
  width: 0.75em;
  margin-left: -0.75em;
  font-weight: bold;
  content: "\2134";
  font-size: 200%;
  color: maroon;
  line-height: 1;
}

#instructions h3 {
  display: inline-block;
  color: maroon;
  margin-left: -0.75em;
  font-family: "Quicksand";
  font-size: 140%;
  font-weight: bold;
  letter-spacing: 0.9;
  text-decoration: underline;
}

.center {
  margin: 0 auto;
}

.statement {
  margin: 0 auto;
  text-align: left;
  font-size: 1.5vw;
}

.statement strong {
  color: maroon;
}

.statement h3 {
  display: inline;
  margin: 0;
  margin-right: 0.25em;
  vertical-align: bottom;
}

.image {
  position: relative;
  margin: 1em auto;
}

.image img {
  width: 100%;
  margin: 0;
}

.image .label {
  position: absolute;
  z-index: 100;
  padding: 0.25vw 0.5vw;
}

.parts {
  display: grid;
  grid-template-columns: 15% 20% 15% 12% 10% 30%;
  grid-row-gap: 0.3vw;
  margin: 0 auto;
  font-size: 80%;
}

.partStatement {
  align-self: center;
  text-align: right;
  overflow-x: visible;
}

.markButton {
  background-color: #670000;
  background: linear-gradient(to bottom, maroon, maroon 35%, #670000 65%, #670000);
  font-size: 1.5vw;
  color: white;
  margin-right: 2vw;
  height: 1.75em;
  border: none;
  padding: 0.25vw 0.75vw;
  font-size: 1.5vw;
  text-decoration: none;
  box-shadow: 0 0 0.2em 0 black;
  place-self: center end;
}

.markButton:hover {
  background-color: maroon;
  background: linear-gradient(to bottom, #670000, #670000 35%, maroon 85%, maroon);
  cursor: pointer;
}

.markButton:focus {
  position: relative;
  outline: none;
}

input.partInput {
  border: 0.2vw solid #d5d5d5;
  font-size: 100%;
  margin: 0 0.5vw;
  width: 8vw;
  height: 3vw;
  place-self: center start;
  outline: none;
  padding-left: 0.5vw;
  padding-top: 0.35vw;
}

input.partInput:focus {
  border: 0.3vw solid #aeaeae;
}

.units {
  place-self: center start;
}

.crosscheck {
  font-size: 140%;
  place-self: center start;
  padding-left: 0;
}

.feedback {
  align-self: center;
  justify-self: start;
  place-self: center start;
  overflow-x: visible;
}

@media screen and (min-width: 376px) {
  header {
    display: flex;
    align-content: center;
    padding: 0 1em;
    justify-content: space-between;
    font-size: 1.5vw;
  }
  header > * {
    flex: 0 auto;
  }
  header > h1 {
    margin: 0;
    margin-right: 1em;
    margin-bottom: 0.125em;
    align-self: center;
  }
  header > .rightblock {
    display: flex;
    text-align: right;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: center;
    align-content: flex-end;
  }
  header > .rightblock > h3 {
    text-align: right;
    margin: 0.125em 0 0.25em 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}

main {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  padding: 0 1em;
}

main #clear {
  text-align: center;
}

main #login {
  text-align: center;
}

main .card {
  font-size: 95%;
  display: flex;
  flex-flow: row wrap;
  padding: 1em 2em;
  border: 1px solid #ccc;
  box-shadow: 0.1em 0.1em 0.275em 0.1em grey;
  flex-basis: 25em;
  background-color: #eee;
}

main .card p {
  margin: 0.5em 0;
}

main .card h2 {
  margin-top: 0.25em;
  color: maroon;
  text-align: center;
  flex: 1 100%;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 175%;
}

main .card button {
  flex: 1 100%;
  border: none;
  padding: 0.5em 0.25em;
  font-size: 125%;
  font-weight: 600;
  font-family: "Quicksand";
  background: linear-gradient(to bottom, maroon, maroon 35%, #670000 65%, #670000);
  color: white;
  margin-top: 1em;
  margin-bottom: 0.5em;
  letter-spacing: 0.075em;
}

main .card button:hover {
  background: linear-gradient(to bottom, #670000, #670000 35%, maroon 85%, maroon);
  cursor: pointer;
}

main .card button:focus {
  outline: none;
}

main .card .login-list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  flex-basis: 20.5em;
}

main .card .login-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

main .card .login-list li label {
  padding: 0.5em;
  padding-left: 0;
  font-size: 120%;
}

main .card .login-list li input {
  font-size: 120%;
  flex: 1 100%;
  color: maroon;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

main .card .login-list li input::placeholder {
  font-size: 80%;
  color: maroon;
  opacity: 0.5;
}

main .card .login-list li input:focus {
  outline: 1px solid maroon;
}

main .card .login-list li#uIdError,
main .card .login-list li#unameError {
  display: block;
  color: maroon;
  margin-bottom: 1em;
  text-align: center;
  margin: 0 auto 0.5em auto;
  text-transform: uppercase;
  font-weight: bold;
  height: 1.5em;
}

main .view {
  width: 100%;
}

.highlight {
  color: maroon;
  font-weight: bold;
}

.width25 {
  width: 25%;
}

.width30 {
  width: 30%;
}

.width35 {
  width: 35%;
}

.width40 {
  width: 40%;
}

.width45 {
  width: 45%;
}

.width50 {
  width: 50%;
}

.width55 {
  width: 55%;
}

.width60 {
  width: 60%;
}

.width65 {
  width: 65%;
}

.width70 {
  width: 70%;
}

.width75 {
  width: 75%;
}

.width80 {
  width: 80%;
}

.width85 {
  width: 85%;
}

.width90 {
  width: 90%;
}

.width95 {
  width: 95%;
}

.width100 {
  width: 100%;
}

.paddingLeft5 {
  padding-left: 5%;
}

.paddingLeft10 {
  padding-left: 10%;
}

.paddingLeft15 {
  padding-left: 15%;
}
